.mouse-tracker {
  position: fixed;
  pointer-events: none;
  visibility: hidden;
}

.mouse-tracker.active {
  visibility: visible;
}

.mouse-tracker .circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.5);
  transform: translate(-50%, -50%);
}

body {
  background-image: url("../assets/squid.png");
  cursor: url("../assets/squid.png"), auto;
}
