.Layer0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: blueviolet;
}

.test {
    width: 100%;
    height: 100%;
}